/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: hsl(275, 100%, 97%);
  min-height: 100vh;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
}

/* MAIN CONTAINER */
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
}

.heading {
  display: flex;
  margin-bottom: 20px;
}

#star {
  transform: scale(0.7);
  margin-right: 30px;
}

/* QUESTIONS */
.question {
  font-weight: 600;
  border-bottom: solid 1px lightgray;
}

#question4 {
  border: none;
}

.head-box {
  display: flex;
  justify-content: space-between;
}

.head-box p {
  width: 70%;
}

.head-box:hover {
  color: hsl(297, 80%, 69%);
  cursor: pointer;
}

p {
  padding: 20px 0;
}

.answer {
  font-weight: 400;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  margin: 0 30px;
}
